<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" src="./static/css/style.css">
</head>
<body style="background-color: white;">
	<nav class="navbar navbar-expand-md" style ="background-color: #3773DA;height:60px;">
        <a href="{{url_for('login_page')}}"><img src="./static/images/house-icon.png" style="width:30px;" alt= "main-page icon" id="home-login"></a>
        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--ml puts button on the right, mr puts on the left-->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{url_for('grocery')}}">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{url_for('home')}}">Dashboard</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-light" href="https://github.com/beckyydo/retail-machine-learning" target="_blank">Github</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-light" href="#">Contact</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-light" href="{{url_for('relogin')}}">Logout</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-light" href="#">
                        <img src="./static/images/Shopping Cart.png" style="width:25px">  Cart
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">

            <div class="col-lg-12" style="padding-top:200px;">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr style="background-color:#3773DA;color:white;text-align:center;">
                                <th>Images</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody id="grocery-recommendations">
                            {% for d in grocery_list: %}
                            <tr style="text-align:center;">
                                <td class="thumbnail-img">
                                    <img class="img-fluid" src={{d.img}} alt="" style="width:120px;
                                    height:120px;
                                    border-radius: 25px;
                                    border-color:#3773DA;
                                    border-style: solid;
                                    border-width: medium;">
                                </td>
                                <td class="name-pr">
                                    {{d.product}}
                                </td>
                                <td class="price-pr">
                                    <p>$ 9.99</p>
                                </td>
                                <td class="quantity-box"><input type="number" size="3" value="1" min="0" step="1" class="c-input-text qty text"></td>
                                <td class="total-pr">
                                    <p>$ 9.99</p>
                                </td>
                                <td class="remove-pr">
                                    <a href="#">
                                <i class="fas fa-times"></i>
                            </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--Apply Coupon & Update Cart-->
        <div class="row my-5">
            <div class="col-lg-5 col-sm-5">
                <div class="coupon-box">
                    <div class="input-group input-group-sm">
                        <input class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">
                        <div class="input-group-append">
                            <button class="btn btn-theme" type="button" style="background-color:#3773DA;color:white">Apply Coupon</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-sm-5"></div>
            <div class="col-lg-2 col-sm-2">
                <div class="update-box" >
                    <input value="Update Cart" type="submit" style="background-color:#3773DA;color:white">
                </div>
            </div>
        </div>

        <!--Total Summary-->
        <div class="row my-5">
            <div class="col-lg-8 col-sm-12">
                <h6>You May Also Like...</h6>
                <div class = "row">
                    {% for item in feature_list: %}
                    <div class="col-md-4" style="text-align:center;">
                        <img class="img-fluid" src={{item.img}} alt="" style="width:120px;
                                    height:120px;
                                    border-radius: 25px;
                                    border-color:#3773DA;
                                    border-style: solid;
                                    border-width: medium;">
                        <div>{{item.product}}</div>
                        
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    <h5>Order Summary</h5>
                    <div class="d-flex">
                        <h6>Sub Total</h6>
                        <div class="ml-auto"> $ 29.97 </div>
                    </div>
                    <div class="d-flex">
                        <h6>Discount</h6>
                        <div class="ml-auto"> $ 0 </div>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex">
                        <h6>Coupon Discount</h6>
                        <div class="ml-auto"> $ 10 </div>
                    </div>
                    <div class="d-flex">
                        <h6>Tax 13%</h6>
                        <div class="ml-auto"> $ 3.90 </div>
                    </div>
                    <div class="d-flex">
                        <h6>Shipping Cost</h6>
                        <div class="ml-auto"> Free </div>
                    </div>
                    <hr>
                    <div class="d-flex gr-total">
                        <h6>Grand Total</h6>
                        <div class="ml-auto h6"> $ 33.87 </div>
                    </div>
                    <hr> 
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://d3js.org/d3.v5.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
    
    <!--<script src="{{ url_for('static', filename='js/app.js') }}"></script>-->
</body>

</html>