/* remove default margin and padding from body */
/* body {
  padding: 0;
  margin: 0;
} */

/* set map, body, and html to 100% of the screen size */

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: auto;
}

/* span {
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: #2dc4b2;
  text-align: center;
} */
