
body {
    background: linear-gradient(90deg, #BA68C8 0%, #AB47BC 100%)
}

.container {
    background-color: white;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    margin-bottom: 50px
}

.title {
    font-size: 25px;
    font-weight: 100
}

.icon {
    position: relative;
    bottom: 11px
}

.mt-100 {
    margin-top: 100px
}

.profile img {
    width: 68px;
    height: 68px;
    border-radius: 50%
}

.card {
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2)
}

.card-body {
    position: relative;
    bottom: 35px
}

.header {
    padding-top: 40px
}